@media(max-width:1000px){
    .container__checks{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:10px;
        
    }

    .container__check-wrap{
        display: grid;
        grid-template-columns: 1fr 3fr;
        
    }

    input[type="checkbox"]{
        width: 20px;
        height: 20px;
    }

   
}


@media(max-width:590px){
    .container__checks{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        
        
    }
    input[type="checkbox"]{
        margin-left: 40px;
    }
}

@media(max-width:390px){
    .nav__title h1{
    width: 100%;
    text-align: center;
    font-family: var(--roboto);
    font-size: 15px;
    font-weight: 200;
}
.container__error{
   
    height: 60px;
    
}
.container__error span{
    font-size: 18px;
    font-weight: 200;
    color: rgb(var(--red-color));
    display: inline-block;
    text-align: center;
    width: 90%;  
    height: 100%;  
}
}
